html {
	background-color: #F9F9F9;	
}

body {
	width: 760px;
	margin: 0 auto;
	font-family: helvetica;
}

h1 {
	text-align: center;
	font-size: 50pt;
	margin: 40px 0px 20px 0px;	
}

h2 {
	text-align: center;
}

.todo {
	width: 200px;
	height: 300px;
	background-color: yellow;
	display: inline-block;
	vertical-align: middle;
	margin: 10px 10px 10px 10px;
	padding: 5px 15px 5px 15px;
	border-radius: 5px;
	position: relative;
}

.progress {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.done {
	background-color: blue;
}

.incomplete {
	background-color: red;
}